.versus{
  padding:2em;
  padding-left: 28em;
  color: red;
  text-indent:3em;
  text-align: justify;
  #text-shadow: 0.1em 0.1em 0.05em #333;
  font-weight: 900;
  background-color:#eee;
  background: #eee url("https://lh3.googleusercontent.com/-yJGfjS5kFl8/VYhGPZNPybI/AAAAAAAAOp0/trPHTQm5mwA/s288-Ic42/openbible.jpg") no-repeat left top;
  border: 1px solid #f00;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px; 
  -webkit-box-shadow:10px 10px 5px #888; 
  -moz-box-shadow:10px 10px 5px #888; 
  box-shadow:10px 10px 5px #888;
  margin: 0;   
}
